---
layout: default.njk
prism: true
---

<div class="mt-6 px-6">
    <section class="max-w-7xl mx-auto mt-6">
        <article class="px-6 sm:px-10 py-6 sm:py-8 bg-white border-4 border-text rounded-tl-3xl rounded-tr-4xl rounded-bl-4xl rounded-br-3xl">
            <div class="flex flex-col items-center">
                <!-- Swiper -->
                {% if featured_image %}
                <div class="w-full flex items-center">
                    <div class="hidden sm:flex swiper-button-prev border-2 border-text rounded-md bg-secondary px-2 py-2 mr-2"></div>
                    
                        <div class="w-full h-full border-2 border-text sm:rounded-4xl swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    {% image featured_image, "Featured Image for " + title, "(max-width: 600px) 100vw, (min-width: 600px) 50vw, (min-width: 1200px) 33vw" %}
                                </div>
                                {% if gallery_images %}
                                    {% for image in gallery_images %}
                                    <div class="swiper-slide">
                                        {% image image.image, "Gallery Image", "(max-width: 600px) 100vw, (min-width: 600px) 50vw, (min-width: 1200px) 33vw" %}
                                    </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="hidden sm:flex swiper-button-next border-2 border-text rounded-md bg-secondary px-2 py-2 ml-2"></div>
                    </div>
                    
                    <!-- Move the pagination outside -->
                    <div class="swiper-pagination"></div>                
                {% endif %}
                <div class="max-w-5xl mx-auto my-6">
                    <h1 class="text-text font-bold text-2xl sm:text-4xl md:text-5xl lg:text-6xl">{{title}}</h1>
                    <p class="text-center text-base leading-6 font-medium text-gray-500">
                        <time> {{ date | readableDate }}
                            by
                            <a>{{ author }}</a>
                        </time>
                    </p>
                </div>
            </div>
            <div class="max-w-7xl text-text prose md:columns-2 my-4 mx-auto">
                {{ content | safe }}
            </div>
        </article>
    </section>
</div>
