---
layout: default
prism: true
---

<section class="max-w-7xl mx-auto mt-6">
    <article class="px-10 py-8 bg-white border-4 border-text rounded-tl-3xl rounded-tr-4xl rounded-bl-4xl rounded-br-3xl">
        <div class="flex items-center">
            {% if featured_image %}
                <div class="md:w-1/2">
                    <img src="{{ featured_image }}" alt="Featured Image for {{ title }}" class="border-4 border-text w-full h-auto mb-4 lg:mb-0 lg:mr-8">
                </div>
            {% endif %}
            <div class="md:w-1/2">
                <h1 class="font-bold text-5xl">{{title}}</h1>
                <p class="text-center text-base leading-6 font-medium text-gray-500">
                    <time> {{ date | readableDate }}
                        by
                        <a>{{ author }}</a>
                    </time>
                </p>
            </div>
        </div>
        <div class="max-w-7xl prose columns-2 my-4 mx-auto">
            {{ content | safe }}
        </div>
    </article>
</section>