<footer class="text-center p-8 mt-8 bg-primary">  
    <div class="mb-6">
      <img src="/assets/images/constant/the-slowworms_logotype.png" alt="logo image" class="mx-auto w-48 h-auto">
    </div>
  
    <nav class="mb-6 font-bold">
      {% for item in collections.page %}
        <a href="{{ item.url }}"
            class="{% if item.url == page.url %}{% else %}{% endif %} 
                  border-2 border-text rounded-md bg-white px-2 py-1 mx-2 
                  transform transition-all duration-300 ease-in-out 
                  hover:-translate-y-1 hover:-translate-x-1 hover:shadow-3xl inline-block"
            aria-current="{% if item.url == page.url %}page{% endif %}">
          {{ item.data.title }}
        </a>
      {% endfor %}
    </nav>
    
    <div class="space-x-4">
      <a href="https://www.instagram.com/theslowworms/" class="text-text hover:text-background">
        <i class="fab fa-instagram fa-xl"></i>
      </a>
      <a href="https://youtube.com/TheSlowworms" class="text-text hover:text-background">
        <i class="fab fa-youtube fa-xl"></i>
      </a>
    </div>
    <div class="bottom-0 text-center w-full pt-4">
        <small class="text-text">Copyright ©
            {{settings.name}}
            2025. Created by
            <a href="{{settings.url}}" target="_blank" class="underline">{{settings.author}}</a>
        </small>
    </div>
  </footer>
  