<header class="bg-background sm:border-b-4 border-none sm:border-text sm:border-solid sm:mb-32 flex flex-col items-center sm:flex-row justify-between relative">
    <nav class="w-full sm:w-5/12 flex justify-around text-lg font-bold drop-shadow-strong border-b-4 sm:border-none border-text border-solid">
        {% if navigation.items %}
            {% for item in navigation.items %}
                <a href="{{ item.url }}"
                class="w-1/2 text-2xl text-center text-text hover:bg-primary py-3">{{ item.text }}</a>
            {% endfor %}
        {% endif %}
    </nav>

    <!-- Adjust the logo's positioning -->
    <div class="bg-background w-1/6 lg:w-1/12 block sm:absolute sm:left-1/2 sm:transform sm:-translate-x-1/2 sm:top-0 z-10 max-w-40">
        <a href="/">
            <img src="/static/img/the-slowworms_logo.png" alt="logo image" style="width: 100%; height: auto;">
        </a>
    </div>
    
    <!-- Placeholder for future content or balance -->
    <div class="w-5/12"></div>
</header>